<!DOCTYPE html>
<html lang="uk-UA">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Блоки</title>
        <link rel="stylesheet" href="not-selected.css" />
    </head>
    <body class="page">
        <img
            src="../../assets/nau.png"
            width="348"
            height="348"
            alt="Герб Національного Авіаційного університуте"
        />

        <h1>Тут буде показано лабораторну роботу з меню 😎</h1>
    </body>
</html>
