<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="menu.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />

        <base target="content" />

        <script src="menu.js"></script>
    </head>
    <body>
        <div
            is="tree-view"
            data-image-url="../../assets/arrow-right.svg#arrow-right"
        >
            <a is="tree-item" href="../../html/index.html">
                <img
                    width="22"
                    height="22"
                    src="../../assets/html-logo.svg"
                    alt=""
                    aria-hidden="true"
                />
                <span>HTML</span>
            </a>
            <div is="tree-group">
                <a is="tree-item" href="../../html/index.html#formating">
                    <span>ЛР1 Форматування</span>
                </a>
                <a is="tree-item" href="../../html/index.html#table">
                    <span>ЛР2 Таблиці</span>
                </a>
                <a is="tree-item" href="../../html/index.html#css">
                    <span>ЛР3 CSS</span>
                </a>
                <a is="tree-item" href="../../html/index.html#form">
                    <span>ЛР4 Форми</span>
                </a>
            </div>
            <a is="tree-item">
                <img
                    width="22"
                    height="22"
                    src="../../assets/xml-logo.svg"
                    alt=""
                    aria-hidden="true"
                />
                <span>XML</span>
            </a>
            <div is="tree-group">
                <a is="tree-item" href="../../xml/solar-system.xml">
                    <span>ЛР5 Розмітка</span>
                </a>
                <a is="tree-item" href="../../xml/passport.xml">
                    <span>ЛР6 Розмітка та стилі</span>
                </a>
            </div>
            <a is="tree-item">
                <img
                    width="22"
                    height="22"
                    src="../../assets/js-logo.svg"
                    alt=""
                    aria-hidden="true"
                />
                <span>JavaScript</span>
            </a>
            <div is="tree-group">
                <a is="tree-item" href="../../component/empty/empty.html">
                    <span>ЛР7 Основи мови JS</span>
                </a>
                <a is="tree-item" href="../../component/empty/empty.html">
                    <span>ЛР8 Масиви. Затримки та інтервали</span>
                </a>
                <a is="tree-item" href="../../component/empty/empty.html">
                    <span>ЛР9 Веведення інформації. Дата та час</span>
                </a>
                <a is="tree-item" href="../../component/empty/empty.html">
                    <span>ЛР10 Анімації</span>
                </a>
            </div>
            <a is="tree-item" href="../../component/empty/empty.html">
                <img
                    width="22"
                    height="22"
                    src="../../assets/store-logo.svg"
                    alt=""
                    aria-hidden="true"
                />
                <span>Інтернет магазин</span>
            </a>
        </div>
    </body>
</html>
